@import "/src/common/modern-reset.css";

body {
  font-family: SUIT, sans-serif;
}

.card {
  /* overflow: hidden; */
  /* float: left; */
  /* position: absolute; */
  /* display: flow-root; */

  &.good-partner {
    display: inline-block;
  }

  /* background-color: pink; */
  margin: 2em;
  padding: 2em;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 4px 0px rgba(181, 181, 181, 0.15);

  /* 이미지 */
  .thumbnail {
    --radius: 50%;

    border: 1px solid #ccc;
    float: left;
    margin: 1em;
    padding: 0.625em;
    background: #fff;
    border: 1px solid #dee2e6;

    /* border-radius: 50%; */
    border-radius: var(--radius);

    width: 120px;
    height: auto;

    /* 이미지 기준 바깥으로  동그라미 */
    shape-outside: circle(50%);

    img {
      max-width: 100%;
      object-fit: cover;

      /* object의 시작(위치설정) */
      object-position: 0 -20px;

      /* aspect-ratio */
      aspect-ratio: 1/1;

      /* 부모와 동일 속성 적용 */
      /* border-radius: inherit; */
      border-radius: var(--radius);

      /* 브라우저간 차이 없애려면추가
      Chrome은 max-width만으로도 aspect-ratio를 적용
      Firefox는 width가 명확하게 있어야 aspect-ratio 적용
      */
      width: 100%;
    }
  }

  /* 제목 */
  .subject {
    /* background-color: aqua; */
    font-size: 1.5rem;
    font-weight: 600;
    span {
      vertical-align: top;

      &[lang] {
        font-size: 0.5em;

        position: relative;
        top: 3px;
      }
    }
  }

  /* 내용 */
  .content {
    margin-top: 0.625rem;
  }

  /* &:hover {
    border-radius: 50px 0 50px 0;
  } */
}

/* .img-test {
  width: 500px;
  border: 1px solid red;

  img {
    width: 100%;
    aspect-ratio: 4/3;
  }
} */

/* @media screen and (max-width: 500px) {
  .img-test {
    width: 200px;
  }
} */
