.case-01 {
  /* 글쓰기 방향 */
  writing-mode: vertical-lr;

  /* 1. 색상
  currentColor : 현재 요소의 color 값을 상속받아 사용 
  */
  border: 1px solid currentColor;
  color: green;
  width: 200px;

  /* 2. 크기 관련
  inline-size : 가로 크기(인라인 방향 크기)
  block-size : 세로 크기(블록 방향 크기) 
  */
  inline-size: 400px;
  block-size: 100px;
  overflow: auto;

  /* 3. 여백 관련
  margin-inline : 인라인 방향 여백
  margin-block : 블록 방향 여백
  */
  padding-inline: 1rem;
  padding-block: 3rem;
  margin-inline: 1rem;
  margin-block: 2rem;

  /* 4. 위치 정렬 
  position offeset 지정 시 논리 속성
  */
}

/* 논리 속성(Logical Properties)
   글쓰기 방향(Writing Mode)에 따라 레이아웃을 조정할 수 있도록 도와주는 CSS 속성 */

/* 이외에도 테두리, 위치정렬 등 가능 */
