@import "/src/common/modern-reset.css";
@import "/src/common/theme.css";
@import "/src/common/a11y.css";
@import "/src/common/base.css";

.grid {
  margin: 20px;
  padding: 20px;
  border: 1px solid red;

  text-align: center;
}

/* 라인 기반 그리드박스 */
.grid-box-1 {
  display: grid;
  grid-template-rows: repeat(4, 50px);
  grid-template-columns: 1fr 2fr 1fr;

  div:nth-child(1) {
    background: var(--pastel-yellow);
    /* grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 3; */

    /* grid-row: 1/3;
    grid-column: 1/3; */

    grid-area: 1/1/3/3;
  }
  div:nth-child(2) {
    background: var(--pastel-pink);

    /* grid-row: 4/5;
    grid-column: 3/4; */

    grid-area: 4/3/5/4;
  }
  div:nth-child(3) {
    background: var(--pastel-lavender);

    grid-row: 1/2;
    grid-column: 3/4;
  }
  div:nth-child(4) {
    background: var(--pastel-orange);

    grid-row: 3/4;
    grid-column: 1/2;
  }
  div:nth-child(5) {
    background: var(--pastel-gray);

    grid-row: 3/5;
    grid-column: 2/3;
  }
  div:nth-child(6) {
    background: var(--pastel-mint);

    grid-row: 2/4;
    grid-column: 3/4;
  }
  div:nth-child(7) {
    background: var(--pastel-coral);

    grid-row: 4/5;
    grid-column: 1/2;
  }

  /* div:nth-child(8) {
    background: var(--pastel-aqua);

    grid-row: 3/5;
    grid-column: 2/3;
  } */
}

/* 네임 기반 그리드박스 */
.grid-box-2 {
  display: grid;
  grid-template-rows: repeat(4, 50px);
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-areas:
    "item1 item1 item1 item2"
    "item1 item1 item1 item6"
    "item4 . item5 item6"
    "item7 . item5 item3";

  .grid-item-1 {
    grid-area: item1;
    background: red;
  }
  .grid-item-2 {
    grid-area: item2;
    background: yellow;
  }
  .grid-item-3 {
    /* grid-area: item3; */
    grid-area: 3/4/5/5;
    z-index: 3;
    background: gray;
  }
  .grid-item-4 {
    grid-area: item4;
    background: green;
  }
  .grid-item-5 {
    grid-area: item5;
    background: blue;
  }
  .grid-item-6 {
    grid-area: item6;
    background: purple;
  }
  .grid-item-7 {
    grid-area: item7;
    background: orange;
  }
}
