@import url(/src/common/modern-reset.css);
/*=================================================
        [CSS 스타일 초기화]
=================================================*/
* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

a {
  text-decoration: none;
  color: inherit;
}
/*=================================================
        [CSS Variable]
=================================================*/
:root {
  --primary-color: #24388d;
}

/*=================================================
        [Header]
=================================================*/
.header {
  padding: 14px 0;
  overflow: hidden;
  color: var(--primary-color);

  .logo-box {
    float: left;
  }
  ul {
    float: right;

    li {
      float: left;
      list-style: none;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* .header {
  padding: 14px 0 14px 0;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  gap: 8px;
} */
