body * {
  padding: 0;
  margin: 0;
}

div.member-service {
  /* background-color: yellow; */
  /* 
  두 종류의 접근방식이 있음 
  - font-variant의 경우 : font-variant 속성은 글꼴 변형을 설정하는 CSS 속성
                          이는 실제 대문자가 아니라 소문자를 축소하여 대문자처럼 보이게 만드는 기능
  - text-transform : text-transform 속성은 대소문자 변환을 제어하는 속성
    * none	변형 없음
    * capitalize	각 단어의 첫 글자를 대문자로
    * uppercase	모든 글자를 대문자로
    * lowercase	모든 글자를 소문자로
  */
  /* font-variant: small-caps;
  text-transform: capitalize; */

  /* & {
    a {
      text-decoration: none;
      color: inherits;

      &:hover {
        color: aqua;
      }
      &:focus {
        color: aqua;
      }
    }

    a:not(:first-child)::before {
      content: ':';
    }
  } */
}

/*
위의 nesting과 같음
div.member-service > a {
  text-decoration: none;
  color: inherits;

  &:hover {
    color: aqua;
  }
  &:focus {
    color: aqua;
  }
}

div.member-service > a:not(:first-child)::before {
  content: ':';
} 
*/

body * {
  margin: 0;
  padding: 0;
}

.member-service {
  background-color: yellow;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.5;
  font-size: 0;
}

.item {
  text-decoration: none;
  color: inherit;
  background-color: pink;
  font-size: 0.875rem;
  /* margin: 0 8px; */
  /* font-size inherit으로 인한 상속개념을 준 이후 overriding */
}

.item::before {
  content: ":";
  padding: 0 16px;
}
.item.first::before {
  content: "";
}

/* UL요소를 활용한 구조 */
.member-link {
  list-style: none;
  font-size: 0;
  background-color: aqua;
  margin-top: 1rem;

  li {
    display: inline-block;

    * {
      font-size: 0.875rem;
      display: inline-block;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      padding: 8px;
      text-align: center;
      background-color: yellow;
    }

    span {
      margin: 0 8px;
    }
  }
}

.member-link {
  list-style: none;
  font-size: 0;
  background-color: aqua;
  margin-top: 1rem;
}

.member-link li {
  display: inline-block;
}

.member-link li * {
  font-size: 0.875rem;
  display: inline-block;
}

.member-link a {
  color: #000;

  /* Label/Medium */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.member-link span {
  margin: 0 8px;
}
