/* @import url(/src/common/modern-reset.css); */
@import "/src/common/mini-reset.css";

body {
  margin: 50px;
  font-family: "SUIT", sans-serif;
}

h1 {
  margin-bottom: 50px;
}

:root {
  /* 색상 */
  --primary-color: #9b9a90;
  --secondary-color: #ececec;

  --green: #22be61;
  --brown: #e3a368;
  --white: #fff;

  /* 여백 */
  --spacing-20: 1.25rem;
  --spacing-70: 4.375rem;

  /* 폰트크기 */
  --large: 1.125rem;
  --default: 1rem;
  --small: 0.875rem;
  --xs-small: 0.75rem;
}

/* 알림 */
.notification {
  --bg-color: var(--white, #fff);
  --point-color: var(--green, #22be61);
  --text-color: var(--primary-color, #9b9a90);
  --border-color: var(--secondary-color, #ececec);

  --base-spacing: var(--spacing-20);
  --large-spacing: var(--spacing-70);

  position: relative;

  background: #fff;
  padding: var(--base-spacing);
  padding-left: var(--large-spacing);
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  box-shadow: 0px 0px 2px 0px rgba(114, 119, 124, 0.2);

  .notification-subject {
    font-size: var(--large);
    font-weight: 600;
  }

  .notification-time {
    position: absolute;
    top: var(--base-spacing);
    right: var(--base-spacing);

    font-size: var(--xs-small);
    font-weight: 700;
  }

  .notification-content {
    font-size: var(--small);
    color: var(--text-color);

    margin-top: 4px;
  }

  &.green {
    background: url(/src/assets/svg/pot.svg) no-repeat var(--base-spacing) 50%;
    .notification-subject,
    .notification-time {
      color: var(--green);
    }
  }

  &.brown {
    background: url(/src/assets/svg/rice.svg) no-repeat var(--base-spacing) 50%;

    .notification-subject,
    .notification-time {
      color: var(--brown);
    }
  }

  &:not(:first-child) {
    margin-top: var(--spacing-20);
  }
}
