@import url(/src/ui/components/avatar/avatar.css);


/* case 01 - inline-block */
.case-01{
  background-color: yellow;
  border: 1px solid red;
  margin: 1.25rem;

  ul{
    background: blue;
    width: 360px;
    padding: 10px;
    margin: 0 auto;
    font-size: 0;
  }

  li{
    background-color: pink;
    margin: 10px;
    font-size: 1rem;
    display: inline-block;
  }
}

/* case 02 - float  */
.case-02{
  background-color: yellow;
  border: 1px solid red;
  margin: 1.25rem;

  ul{
    background: blue;
    width: 360px;
    padding: 10px;
    margin: 0 auto;
    display: flow-root;
  }

  li{
    background-color: pink;
    margin: 10px;
    float: left;
  }
}
/* case 03 - flex  */
/* case 04 - grid */