@import "/src/common/theme.css";
@import "/src/common/base.css";
@import "/src/common/best-reset.css";
@import "/src/common/a11y.css";
.component-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

body {
  padding: 1rem;
}

/*=================================================
        [Component] 원자단위
=================================================*/
/* 로고 컴포넌트*/
.brand {
  /* background-color: yellow; */

  .logo {
    /* background: pink; */
    display: block;
  }
}

/* 버튼(Circle)  컴포넌트 */
.button-circle {
  position: relative;
  inline-size: 1.5rem;
  block-size: 1.5rem;
  border: 0;
  border-radius: 50%;
  background: #23e97f linear-gradient(180deg, #23e97f 0%, #00dcc9 100%);

  &::after {
    content: "";
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    translate: -50% -50%;
    inline-size: 0.5rem;
    block-size: 0.5rem;
    border-radius: 50%;
    background: #fff;
  }
}

/* 검색폼 컴포넌트 */
.input {
  background: yellow;

  input {
    inline-size: 100%;
    block-size: 1.5rem;
    border: 1px solid var(--pastel-gray);
    font-size: 0.875rem;
    font-weight: 700;
    padding: 0.125rem 0.5rem;

    &:placeholder-shown {
      color: #bcc3c7;
    }
  }
}

/*=================================================
        [Component] 분자단위
=================================================*/
/* 검색폼 */
.form-search {
  .search-wrap {
    /* background: pink; */
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;

    .input {
      flex: 1 0 0;
    }
  }
}

/* 검색바 */
.searchbar {
  padding: 0.75rem 0.75rem 0.75rem 1.25rem;
  background: #fff;
  border: 1px solid #03cc5c;
  border-radius: 1.5rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.75rem;

  .form-search {
    flex: 1 0 0;
  }

  input {
    border: 0;

    /* focus시 어떤 서식이 선택되었는지 
      시각적으로 구분할 수 있는 대안이 있는 경우 outline을 제거해도 됨 
      => 아닌 경우 지우지말 것*/
    &:focus {
      outline: none;
    }
  }

  /* :focus-within */
  &:focus-within {
    box-shadow: 0px 4px 4px 0px rgba(68, 131, 63, 0.15);
  }
}
