<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>입력 서식 컴포넌트</title>
    <link
      rel="shortcut icon"
      href="/src/assets/favicon/likelion.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="/src/assets/favicon/likelion.svg" />
    <link
      rel="preload"
      as="font"
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT-Regular.woff2"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css"
    />
    <link rel="stylesheet" href="/src/ui/components/input/float-input.css" />
  </head>
  <body>
    <div>
      <h2>플로팅 만들어보기</h2>
      <div class="form-floating">
        <input type="text" id="floatingInput" placeholder="" />
        <label for="floatingInput">플로팅 만들어보쟈</label>
      </div>
    </div>
  </body>
</html>
