@import url(/src/common/modern-reset.css);
@import "/src/common/a11y.css";

/*=================================================
        [CSS Variable]
=================================================*/
:root {
  --white: #fff;
  --green: #4cfe88;
  --gray: #dbdbdb;

  --status-active: var(--green);
  --status: var(--gray);
  --border-color: var(--white);
}

/*=================================================
        [CSS 스타일 초기화]
=================================================*/
button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
}

.avatar-wrap {
  background-color: yellow;
  margin-bottom: 1rem;
}

/*=================================================
        [Component : avavatar-item]
=================================================*/
/**##### 아바타아이템 #####**/
.avatar-item {
  --size: 4rem;
  --radius-circle: 50%;

  position: relative;
  width: var(--size);

  img {
    width: 100%;
    /* height: var(--size); */
    aspect-ratio: 1/1;
    border-radius: var(--radius-circle);
  }
}

/**== 상태표시 ==**/
.status {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;

  width: 16px;
  height: 16px;
  background-color: var(--status);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-circle);

  /** 온라인 **/
  &.active {
    background-color: var(--status-active);
  }
}

/*=================================================
        [Component : btn-avavatar-item]
=================================================*/
/**##### 아바타아이템 #####**/
.btn-avatar-item {
  position: relative;
  --size: 4rem;

  img {
    width: var(--size);
    /* height: var(--size); */
    aspect-ratio: 1/1;
    border-radius: 50%;
  }

  /**== 상태표시 ==**/
  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    background-color: var(--status);
    border: 1px solid var(--border-color);
    border-radius: 50%;
  }

  &.active::after {
  background-color: var(--status-active);
  }
}