/*=================================================
        [CSS 스타일 초기화]
=================================================*/

/* 기본스타일 */
body {
  font-family: "SUIT", sans-serif;
  color: #121212;
  background: #fff;
  line-height: 1.15;
  font-weight: 300;
}

/* 링크스타일 */
a {
  text-decoration: none;
  color: inherit;
}
