:root {
  --white: #fff;
  --text-color: #222;
  --light-text-color: #a0a0a0;
  --border-color: #dee2e6;
}

body {
  font-family: "Pretendard Variable", sans-serif;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  padding: 2rem 1rem;
  text-align: center;

  p {
    margin-top: 0.5rem;
    color: var(--light-text-color);
  }
}

.type-wrap {
  padding: 2rem 1rem;
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1100px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.type-lists {
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  overflow: hidden;

  h3 {
    background-color: var(--pastel-gray);
    padding: 1rem;
  }

  &.html {
    h3 {
      background-color: var(--pastel-pink);
    }

    li {
      &::before {
        content: "🎨";
      }
    }
  }

  &.css {
    h3 {
      background-color: var(--pastel-yellow);
    }

    li {
      &::before {
        content: "🧸";
      }
    }
  }

  &.ui {
    h3 {
      background-color: var(--pastel-green);
    }

    li {
      &::before {
        content: "🌱";
      }
    }
  }

  &.component {
    h3 {
      background-color: var(--pastel-blue);
    }

    li {
      &::before {
        content: "🐬";
      }
    }
  }

  &.study {
    h3 {
      background-color: var(--pastel-purple);
    }

    li {
      &::before {
        content: "🪅";
      }
    }
  }

  ul {
    padding: 1rem;
    max-height: 300px;
    overflow: auto;
    font-size: 0;

    li {
      display: flex;
      position: relative;

      &::before {
        font-size: 1rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }

    a {
      font-size: 0.9rem;
      display: block;
      width: 100%;
      border-radius: 0.5rem;
      line-height: 2;
      padding-left: 1.75rem;

      &:hover {
        background-color: #ececec;
      }
    }

    @media (min-width: 600px) {
      max-height: 400px;
    }

    @media (min-width: 1100px) {
      max-height: none;
    }

    /* ✅ Firefox, Edge, Safari, Chrome 모두 적용 */
    scrollbar-width: thin;
    scrollbar-color: rgba(150, 150, 150, 0.4) transparent;

    /* ✅ WebKit(Chrome, Edge, Safari) */
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(150, 150, 150, 0.2); /* 스크롤 색상 */
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-track {
      background: transparent; /* 트랙 배경 투명 */
    }
  }
}
