body {
  --font-color: #24388d;
}

a {
  text-decoration: none;
  color: inherit;
}

.content-wrap {
  padding: 14px 0;
  display: flow-root;
  background: skyblue;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */

  /* position: relative; */
}

h1 {
  color: var(--font-color);
  font-weight: 900;

  background: yellow;

  line-height: 1;
  margin: 0;
  float: left;

  /* line-height: 100px; */
}

.member-service {
  color: var(--font-color);
  background: pink;

  /* line-height: 2em; */
  float: right;
  /* margin-left: auto; */

  /* position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0; */

  /* line-height: 100px; */

  a {
    /* font-size: 2em; */
  }
}

.word-wrap {
  background-color: green;
}

p {
  text-align: center;

  span {
    font-size: 0.5rem;
    vertical-align: top;
  }
}

.box-wrap {
  padding: 1rem;
  /* height: 200px; */
  background-color: pink;
  align-content: center;
}

.box-item {
  width: 100px;
  height: 100px;
  background-color: #24388d;
}
