@import url(/src/common/best-reset.css);

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

:root {
  --primary-color: #24388d;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

/* .header {
  padding: 14px 0;
  overflow: hidden;

  .logo-box {
    float: left;
  }
  ul {
    float: right;

    li {
      float: left;
      list-style: none;
      border: 1px solid black;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
} */

.header {
  padding: 14px 0 14px 0;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  gap: 8px;
}
