:root {
  /* 색상 팔레트 */
  --white: #fff;
  --black: #000;
  --red: #f00;
  --green: #0f0;
  --blue: #00f;
  --orange: orange;
  --yellow: yellow;
  --light-blue: aqua;

  /* 주요 색상 */
  --primary-color: var(--orange);
  --secondary-color: var(--light-blue);
  --accent-color: var(--yellow);
  --border-color: var(--red);

  /* size */
  --small: 0.75rem;
  --medium: 0.875rem;
  --default: 1rem;
  --large: 1.125rem;
}

button {
  padding: 0.375rem 0.75rem;
}
